body {
  font-family: system-ui, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #424242;
  margin: 1rem auto;
  line-height: 1.6;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
  margin-top: 3rem;
}

p {
  margin: 1.0rem 0;
}

figure {
  margin: 1.6rem 0;
}

figure img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

figure figcaption {
  text-align: center;
  display: block;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

code {
  display: block;
  padding: 1rem;
  background: #cecece;
}

ol.bibliography {
  margin: 0;
  padding-left: 0;
}

ol.bibliography > li {
  list-style: none;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 2rem;
    padding: 0 3rem;
  }
}

@media only screen and (min-device-width: 480px) {
  body {
    width: 800px
  }
}
